/* selection (bôi đen) */
::selection {background:#f02d2d;color:#ffffff;}
::-moz-selection {background:#f02d2d;color:#ffffff;}
::-webkit-selection {background:#f02d2d;color:#ffffff;}

/* css header-navbar */
.navbar {
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.2s ease-in-out;
}
/* end header-navbar */

/* css main */
.main {
    /* margin-top: 65px; */
    /* height: 2000px; */
}
/* css main */

/* css menu navbar */
.sub {
    z-index: 9;
    display: none;
    width: 200px;
    margin-top: 18px;
    background-color: skyblue;
    position: absolute;
    transform-origin: calc(100% - 130px) top;
    will-change: opacity, transform;
    animation: headerMenu ease-in .3s;
}

/* thanh hover ẩn */
.sub::before {
    content: "";
    display: block;
    position: absolute;
    width: 190px;
    height: 24px;
    top: -16px;
    right: 22px;
}

/* keyfram menu */
@keyframes headerMenu {
    from {
        opacity: 0;
        transform: scale(1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* end css menu navbar */
