/* body css */
body {
    /* background-image: url(../image/a1.png);
    background-size: cover; */
}

/* css header-navbar */
.navbar {
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.2s ease-in-out;
}
/* end header-navbar */

/* css main */
.main {
    /* margin-top: 65px; */
    height: 2000px;
}

/* hover box general */
.hv-box, .hv-box-lg {
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hv-box-lg:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.hv-box:hover {
    cursor: pointer;
    box-shadow:  0px 2px 6px rgb(91 88 88);
    transform: translateY(-3px);
}

/* css menu */
.sub {
    z-index: 99;
    display: none;
    width: 200px;
    margin-top: 4px;
    background-color: skyblue;
    position: absolute;
    transform-origin: calc(100% - 130px) top;
    will-change: opacity, transform;
    animation: headerMenu ease-in .3s;
}

/* thanh hover áº©n */
.sub::before {
    content: "";
    display: block;
    position: absolute;
    width: 190px;
    height: 24px;
    top: -16px;
    right: 22px;
}

/* hover menu */
.home:hover .sub {
    display: block;
}

.link:hover .sub {
    display: block;
}

.disabled:hover .sub {
    display: block;
}

.dropdown:hover .sub {
    display: block;
}

/* css hover color */
.hv-cl:hover {
    color: blue !important;
}

.hv-bg:hover{
    background-color: rgb(217, 211, 211);
}


/* keyfram menu */
@keyframes headerMenu {
    from {
        opacity: 0;
        transform: scale(1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* css main */
/* note 1 */
.content-wrap {
    z-index: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

/* general */
.pt-180 {
    padding-top: 180px !important;
}

.pb-130 {
    padding-bottom: 130px !important;
}

.mt-n180 {
    margin-top: -180px !important;
}

.pb-290 {
    padding-bottom: 290px !important;
}

.shape-parent {
    position: relative;
    z-index: 0;
}

.bg-linear-gradient {
    background-image: -webkit-linear-gradient(26.66deg, #FFF5EB 0%, #F4F2F9 100%);
    background-image: linear-gradient(63.34deg, #FFF5EB 0%, #F4F2F9 100%);
}

.shape {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    pointer-events: none;
}

.shape>svg,
.shape>img {
    -webkit-transition: -webkit-transform 150ms linear;
    transition: -webkit-transform 150ms linear;
    transition: transform 150ms linear;
    transition: transform 150ms linear, -webkit-transform 150ms linear;
    z-index: -1;
}

[data-show=startbox] {
    opacity: 0;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    will-change: opacity, transform;
}   

span.highlight {
    position: relative;
    z-index: 1;
}

.fs-fw{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 3.125em;
    line-height: 1.2;
}

span.highlight::after {
    content: "";
    position: absolute;
    top: calc(100% - 7.5px);
    right: 0;
    left: 0;
    height: 15px;
    background-image: url(../image/home/underline.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

/* general container fix bootstrap */
.container, .container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
}
/* end */