/* body css */
body {
    /* background-image: url(../image/a1.png);
    background-size: cover; */
}

/* css header */
.navbar {
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.2s ease-in-out;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* css main */
.main{
    margin-top: 65px;
    height: 2000px;
}

/* hover box general */
.hv-box {
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hv-box:hover {
    cursor: pointer;
    box-shadow: 0px 4px 20px rgb(56, 55, 55);
    transform: translateY(-3px);
}

/* css menu */
.sub {
    z-index: 99;
    display: none;
    width: 200px;
    margin-top: 4px;
    background-color: rgba(189, 209, 226);
    position: absolute;
    transform-origin: calc(100% - 130px) top;
    will-change: opacity, transform;
    animation: headerMenu ease-in .3s;
}

/* thanh hover ẩn */
.sub::before {
    content: "";
    display: block;
    position: absolute;
    width: 190px;
    height: 24px;
    top: -16px;
    right: 22px;
}

/* hover menu */
.home:hover .sub {
    display: block;
}

.link:hover .sub {
    display: block;
}

.disabled:hover .sub {
    display: block;
}

.dropdown:hover .sub {
    display: block;
}

/* keyfram menu */
@keyframes headerMenu {
    from {
        opacity: 0;
        transform: scale(1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.bg-ground {
    background-image: url('../image/a1.png');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 66px;
}

.description {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: #000;
}

.description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
}

.description button {
    border: 1px solid #6ab446;
    background: #6ab446;
    border-radius: 0;
    color: #fff;
}

.description button:hover {
    border: 1px solid #fff;
    background: #fff;
    color: #000;
}