.app {
    background-image: url(../image/login.jpg);
    background-size: cover;
    font-family: cursive;
    display: flex;
    align-items: center;
}

input, button{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: none !important;
    width: 100% !important;
}

input::placeholder{
    text-shadow: 1px 1px #c4c4c4;
    color: #424248 !important;
}

.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}

.icon-eye{
    top: 50%;
    right: 4%;
}

.text-shadow{
    text-shadow: 1px 1px #c4c4c4;
}