.main {
    background-image: url(../image/bg.jpg);
    background-size: cover;
    font-family: cursive;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
}

input, button, 
select, option{
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: none !important;
    width: 100% !important;
}

input::placeholder{
    text-shadow: 2px 2px #959494;
    color: #424248 !important;
}

.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}

.form-select:focus{
    outline: none !important;
    box-shadow: none !important;
}

.text-shadow{
    text-shadow: 1.2px 1.2px #959494;
}

/* responsive */
@media (min-width: 1400px){
    .container{
        max-width: 600px;
    }
}